# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import datetime
import pytz

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("./output_data/cities.csv")
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Busselton,-33.6500,115.3333,71.01,70,97,3.00,AU,2021-03-08 04:38:42
1,Souillac,-20.5167,57.5167,80.60,83,20,6.91,MU,2021-03-08 04:28:51
2,Askiz,53.1319,90.5264,26.37,95,84,1.88,RU,2021-03-08 04:38:43
3,San Patricio,28.0170,-97.5169,61.00,77,90,10.36,US,2021-03-08 04:38:43
4,Berlevåg,70.8578,29.0864,19.40,73,20,9.22,NO,2021-03-08 04:38:43
...,...,...,...,...,...,...,...,...,...
551,Cap Malheureux,-19.9842,57.6142,80.01,82,58,3.00,MU,2021-03-08 04:41:01
552,Yokadouma,3.5167,15.0500,66.54,70,99,2.10,CM,2021-03-08 04:41:02
553,Trofors,65.5333,13.4063,33.80,93,75,9.22,NO,2021-03-08 04:41:02
554,Sakakah,29.9697,40.2064,51.80,40,0,6.91,SA,2021-03-08 04:41:02
555,Yashkul',46.1711,45.3435,32.92,81,0,14.41,RU,2021-03-08 04:41:03

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [485]:
# Use the Lat and Lng as locations and Humidity as the weight.
lat_long = weather_data[["Lat", "Lng"]]
humidity = weather_data['Humidity']
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [486]:
# Add Heatmap layer to map
fig = gmaps.figure(map_type="HYBRID")
heat_layer = gmaps.heatmap_layer(lat_long, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3, opacity = .50)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [487]:
weather_data.describe()

              Lat         Lng    Max Temp    Humidity  Cloudiness  Wind Speed
count  556.000000  556.000000  556.000000  556.000000  556.000000  556.000000
mean    20.971753   22.729722   52.275827   73.325540   50.302158    7.701151
std     32.909179   92.667015   29.275010   21.069772   39.590454    4.863561
min    -54.800000 -179.166700  -26.950000   10.000000    0.000000    0.630000
25%     -6.534150  -58.836775   30.150000   64.000000    4.000000    4.000000
50%     23.566700   27.639900   60.800000   79.000000   50.000000    6.790000
75%     49.633125  108.060150   77.055000   89.000000   90.000000   10.360000
max     78.218600  179.316700   97.410000  100.000000  100.000000   32.280000

### Temperature

#### Top 10 Cities with the coldest temeperature  - March 2021 ❄️

In [488]:
cold = weather_data.sort_values(by='Max Temp', ascending=True).head(10)
cold

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
26,Saskylakh,71.9167,114.0833,-26.95,83,17,2.80,RU,2021-03-08 04:38:49
454,Iskateley,67.6803,53.1512,-25.83,86,76,8.23,RU,2021-03-08 04:40:36
134,Khatanga,71.9667,102.5000,-24.72,85,98,1.86,RU,2021-03-08 04:39:17
430,Bilibino,68.0546,166.4372,-21.03,83,100,3.96,RU,2021-03-08 04:40:30
156,Clyde River,70.4692,-68.5914,-20.20,76,1,5.82,CA,2021-03-08 04:39:22
547,Dukat,62.5500,155.5500,-18.72,83,99,5.12,RU,2021-03-08 04:41:00
104,Upernavik,72.7868,-56.1549,-17.84,80,0,13.62,GL,2021-03-08 04:39:09
86,Dikson,73.5069,80.5464,-17.79,88,100,6.44,RU,2021-03-08 04:39:04
525,Evensk,61.9500,159.2333,-16.67,78,23,1.61,RU,2021-03-08 04:40:54
146,Tuktoyaktuk,69.4541,-133.0374,-16.60,76,75,16.11,CA,2021-03-08 04:39:20

#### Top 10 Cities  with the hottest temeprature  - March 2021 ☀️

In [489]:
hot = weather_data.sort_values(by='Max Temp', ascending=False).head(10)
hot

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
463,Pathein,16.7833,94.7333,97.41,14,0,5.75,MM,2021-03-08 04:40:38
48,Geraldton,-28.7667,114.6000,96.80,32,0,6.91,AU,2021-03-08 04:29:19
527,Don Luan,11.5333,106.9167,96.51,30,17,4.65,VN,2021-03-08 04:40:54
236,Alice Springs,-23.7000,133.8833,93.20,20,0,8.05,AU,2021-03-08 04:39:42
437,Yulara,-25.2406,130.9889,93.20,22,40,5.75,AU,2021-03-08 04:40:31
352,Ambikāpur,23.1167,83.2000,93.00,10,2,10.69,IN,2021-03-08 04:40:09
251,Jerantut,3.9360,102.3626,92.89,39,19,2.68,MY,2021-03-08 04:39:45
29,Ca Mau,9.1769,105.1500,91.74,43,92,15.28,VN,2021-03-08 04:38:50
155,Port Hedland,-20.3167,118.5667,91.40,55,0,14.97,AU,2021-03-08 04:39:22
141,Port Keats,-14.2500,129.5500,90.37,55,100,6.62,AU,2021-03-08 04:39:19

#### Top 10 Counties with just the right temperature -  March 2021  👌

In [490]:
perfect_weather = weather_data.loc[(weather_data['Max Temp'] > 60) & (weather_data['Max Temp'] < 80)]
perfect_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Busselton,-33.6500,115.3333,71.01,70,97,3.00,AU,2021-03-08 04:38:42
3,San Patricio,28.0170,-97.5169,61.00,77,90,10.36,US,2021-03-08 04:38:43
7,Venado Tuerto,-33.7456,-61.9688,72.00,93,0,1.99,AR,2021-03-08 04:38:43
9,Rikitea,-23.1203,-134.9692,79.93,83,100,16.24,PF,2021-03-08 04:38:44
10,Port Alfred,-33.5906,26.8910,66.99,89,35,1.99,ZA,2021-03-08 04:38:44
...,...,...,...,...,...,...,...,...,...
538,Makakilo City,21.3469,-158.0858,78.80,53,20,10.36,US,2021-03-08 04:40:57
539,Sambava,-14.2667,50.1667,78.94,80,100,4.14,MG,2021-03-08 04:40:58
542,Dhārchula,29.8500,80.5333,60.80,49,100,4.09,IN,2021-03-08 04:40:59
545,Bonfim,3.0833,-59.9500,78.04,75,74,10.60,BR,2021-03-08 04:41:00
552,Yokadouma,3.5167,15.0500,66.54,70,99,2.10,CM,2021-03-08 04:41:02

In [491]:
# top 10 countries that has the right temperature weather based on the query above
top10 = perfect_weather.groupby('Country').count().sort_values(by='Max Temp', ascending=False).head(10)

In [492]:
# perfect weather country list
pw_countries = top10.index.values.tolist()
print('Top 10 Countries with just the right temepratue are,')
print(*pw_countries)

Top 10 Countries with just the right temepratue are,
BR MX US ZA AR AU TD PE VE NZ

#### List of Cities based on the top 10 countries with just the right temperature 😎

In [493]:
pw_cities = weather_data[weather_data['Country'].isin(pw_countries)]
pw_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Busselton,-33.6500,115.3333,71.01,70,97,3.00,AU,2021-03-08 04:38:42
3,San Patricio,28.0170,-97.5169,61.00,77,90,10.36,US,2021-03-08 04:38:43
6,Albany,42.6001,-73.9662,23.00,43,6,7.67,US,2021-03-08 04:37:50
7,Venado Tuerto,-33.7456,-61.9688,72.00,93,0,1.99,AR,2021-03-08 04:38:43
10,Port Alfred,-33.5906,26.8910,66.99,89,35,1.99,ZA,2021-03-08 04:38:44
...,...,...,...,...,...,...,...,...,...
532,Nioaque,-21.1353,-55.8300,70.30,86,4,2.19,BR,2021-03-08 04:40:56
538,Makakilo City,21.3469,-158.0858,78.80,53,20,10.36,US,2021-03-08 04:40:57
540,Mackay,-21.1500,149.2000,86.00,58,5,13.80,AU,2021-03-08 04:40:58
545,Bonfim,3.0833,-59.9500,78.04,75,74,10.60,BR,2021-03-08 04:41:00
550,Cedartown,34.0537,-85.2550,48.20,34,1,5.75,US,2021-03-08 04:41:01

### Humid

#### Cities Where Humid is Included 😓

In [494]:
high_humid = weather_data.sort_values(by='Humidity', ascending=True).head(10)
high_humid

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
352,Ambikāpur,23.1167,83.2000,93.00,10,2,10.69,IN,2021-03-08 04:40:09
541,Bhūm,18.4667,75.6667,89.24,12,0,11.41,IN,2021-03-08 04:40:59
151,Dera Bugti,29.0307,69.1510,79.52,14,0,4.50,PK,2021-03-08 04:39:21
463,Pathein,16.7833,94.7333,97.41,14,0,5.75,MM,2021-03-08 04:40:38
473,Rājākhera,26.8961,78.1714,88.88,16,0,6.53,IN,2021-03-08 04:40:40
375,Ngama,11.7833,17.1667,70.29,16,8,8.14,TD,2021-03-08 04:40:15
483,Kaura Namoda,12.5898,6.5779,73.45,16,5,10.33,NG,2021-03-08 04:40:43
265,Nizwá,22.9333,57.5333,80.08,17,0,2.89,OM,2021-03-08 04:39:48
243,Biltine,14.5333,20.9167,68.79,17,6,12.03,TD,2021-03-08 04:39:43
453,Arlit,18.7369,7.3853,75.60,18,0,9.69,NE,2021-03-08 04:40:35

In [495]:
# high humid countries
hh_countries = high_humid['Country'].unique()
print('Countries with high humidity rate are,')
print(*hh_countries)

Countries with high humidity rate are,
IN PK MM TD NG OM NE

#### Cities Where No Humid to be Lucid 😉

In [496]:
low_humid =  weather_data.sort_values(by='Humidity', ascending=False).head(10)
low_humid

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
32,Lerik,38.7726,48.4128,41.00,100,75,4.29,AZ,2021-03-08 04:38:50
264,Kilrush,52.6397,-9.4833,42.80,100,75,5.75,IE,2021-03-08 04:39:48
273,Praia da Vitória,38.7333,-27.0667,62.01,100,75,8.41,PT,2021-03-08 04:39:50
235,Ibiporã,-23.2692,-51.0481,68.00,100,0,2.30,BR,2021-03-08 04:39:42
23,Skibbereen,51.5500,-9.2667,33.80,100,75,2.30,IE,2021-03-08 04:38:48
57,Tasiilaq,65.6145,-37.6368,33.80,100,90,29.93,GL,2021-03-08 04:38:57
55,Vila Velha,-20.3297,-40.2925,71.60,100,40,3.44,BR,2021-03-08 04:29:01
21,Klaksvík,62.2266,-6.5890,41.00,100,75,1.14,FO,2021-03-08 04:38:47
422,Dahra,36.2546,0.8519,53.60,100,75,7.58,DZ,2021-03-08 04:40:27
267,Bereda,43.2686,-7.5406,39.99,99,23,5.99,ES,2021-03-08 04:39:49

In [497]:
# low humid countries
lh_countries = low_humid['Country'].unique()
print('Countries with low humidity rate are,')
print(*lh_countries)

Countries with low humidity rate are,
AZ IE PT BR GL FO DZ ES

### Cloudiness

#### More Cloudy, Mo' Problems ⛅

In [498]:
cloudy = weather_data.sort_values(by='Cloudiness', ascending=False).head(20)
cloudy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
190,Panguna,-6.3164,155.4848,75.96,85,100,1.32,PG,2021-03-08 04:39:31
141,Port Keats,-14.2500,129.5500,90.37,55,100,6.62,AU,2021-03-08 04:39:19
327,Jiexiu,37.0244,111.9125,51.08,46,100,3.22,CN,2021-03-08 04:40:03
430,Bilibino,68.0546,166.4372,-21.03,83,100,3.96,RU,2021-03-08 04:40:30
431,Zhigansk,66.7697,123.3711,-6.83,89,100,9.40,RU,2021-03-08 04:40:30
65,Ostrovnoy,68.0531,39.5131,-1.98,91,100,5.70,RU,2021-03-08 04:30:12
131,Arraial do Cabo,-22.9661,-42.0278,73.24,91,100,3.65,BR,2021-03-08 04:39:16
434,Ust-Kuyga,70.0167,135.6000,-13.92,84,100,6.44,RU,2021-03-08 04:40:30
446,Kurchum,48.5722,83.6542,26.17,92,100,1.34,KZ,2021-03-08 04:40:34
135,Faanui,-16.4833,-151.7500,82.20,79,100,17.67,PF,2021-03-08 04:39:17
318,Aktanysh,55.7216,54.0829,20.68,97,100,17.92,RU,2021-03-08 04:40:02
56,Cherskiy,68.7500,161.3000,-16.53,88,100,7.74,RU,2021-03-08 04:38:56
449,Buala,-8.1450,159.5921,83.50,74,100,5.88,SB,2021-03-08 04:40:34
54,Srednekolymsk,67.4500,153.6833,-9.26,87,100,10.94,RU,2021-03-08 04:38:56
451,Suslovo,56.2167,88.1167,23.77,93,100,10.60,RU,2021-03-08 04:40:35
314,Gorontalo,0.5412,123.0595,87.49,56,100,3.33,ID,2021-03-08 04:40:01
456,Severnoye,56.3491,78.3619,28.78,98,100,20.69,RU,2021-03-08 04:40:36
310,Kiama,-34.6833,150.8667,80.01,80,100,7.00,AU,2021-03-08 04:39:59
459,Kysyl-Syr,63.8986,122.7617,-5.60,90,100,6.96,RU,2021-03-08 04:40:36
47,Hermanus,-34.4187,19.2345,60.01,93,100,5.53,ZA,2021-03-08 04:38:54

In [499]:
cloudy_countries = cloudy['Country'].unique()
print("It's cloudy in here,")
print(*cloudy_countries)

It's cloudy in here,
PG AU CN RU BR KZ PF SB ID ZA

#### Hereby Clear Sky 🌞

In [500]:
no_cloud = weather_data.sort_values(by='Cloudiness', ascending=True).head(20).dropna(axis=0)
no_cloud

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
555,Yashkul',46.1711,45.3435,32.92,81,0,14.41,RU,2021-03-08 04:41:03
154,Sidlaghatta,13.3881,77.8628,75.20,43,0,9.22,IN,2021-03-08 04:39:22
151,Dera Bugti,29.0307,69.1510,79.52,14,0,4.50,PK,2021-03-08 04:39:21
365,Ekhabi,53.5102,142.9671,11.08,88,0,10.29,RU,2021-03-08 04:40:12
145,Coahuayana Viejo,18.7333,-103.6833,70.39,84,0,3.40,MX,2021-03-08 04:39:19
366,Dakar,14.6937,-17.4441,66.20,77,0,13.80,SN,2021-03-08 04:38:24
139,Chui,-33.6971,-53.4616,65.23,92,0,5.06,UY,2021-03-08 04:39:18
136,Svetlaya,46.5389,138.3297,28.27,83,0,5.06,RU,2021-03-08 04:29:50
132,Pisco,-13.7000,-76.2167,73.40,78,0,4.61,PE,2021-03-08 04:39:11
392,Lázaro Cárdenas,17.9583,-102.2000,73.51,87,0,1.61,MX,2021-03-08 04:40:19
128,Ploemeur,47.7333,-3.4333,35.01,80,0,9.22,FR,2021-03-08 04:39:15
396,Korem,12.5058,39.5228,53.83,41,0,1.19,ET,2021-03-08 04:40:20
398,Sirsa,29.5333,75.0167,80.58,27,0,11.83,IN,2021-03-08 04:40:21
120,Okha,53.5739,142.9478,10.24,88,0,10.83,RU,2021-03-08 04:39:13
115,Makarov,48.6333,142.8000,24.46,87,0,12.28,RU,2021-03-08 04:39:12
114,Antofagasta,-23.6500,-70.4000,64.40,88,0,9.22,CL,2021-03-08 04:25:31
425,Linxia Chengguanzhen,35.6003,103.2064,53.13,36,0,4.72,CN,2021-03-08 04:39:12
104,Upernavik,72.7868,-56.1549,-17.84,80,0,13.62,GL,2021-03-08 04:39:09
436,Khanbari,27.3747,87.2039,75.38,24,0,5.23,NP,2021-03-08 04:40:31

In [501]:
no_cloud_countries = no_cloud['Country'].unique()
print("Countries where sky is clear here,")
print(*no_cloud_countries)

Countries where sky is clear here,
RU IN PK MX SN UY PE FR ET CL CN GL NP

### Wind Speed

#### Wind City 💨

In [502]:
windy = weather_data.sort_values(by='Wind Speed', ascending=False).head(10)
windy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
489,Vestmannaeyjar,63.4427,-20.2734,44.71,91,100,32.28,IS,2021-03-08 04:40:45
57,Tasiilaq,65.6145,-37.6368,33.80,100,90,29.93,GL,2021-03-08 04:38:57
166,Severo-Kuril'sk,50.6789,156.1250,17.35,90,99,26.82,RU,2021-03-08 04:39:24
371,Grindavik,63.8424,-22.4338,42.80,93,90,26.46,IS,2021-03-08 04:30:25
247,Davlekanovo,54.2215,55.0343,15.80,86,90,22.37,RU,2021-03-08 04:39:44
441,Bathsheba,13.2167,-59.5167,78.80,65,20,21.85,BB,2021-03-08 04:40:32
49,Barrow,71.2906,-156.7887,-9.40,70,90,21.85,US,2021-03-08 04:35:02
248,Niquero,20.0431,-77.5828,74.71,82,18,20.87,CU,2021-03-08 04:39:45
189,Kahului,20.8947,-156.4700,75.20,69,40,20.71,US,2021-03-08 04:29:05
456,Severnoye,56.3491,78.3619,28.78,98,100,20.69,RU,2021-03-08 04:40:36

#### City with Wind Resistance! 😅

In [503]:
no_wind = weather_data.sort_values(by='Wind Speed', ascending=True).head(10)
no_wind

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
533,Kāzerūn,29.6195,51.6541,60.60,32,0,0.63,IR,2021-03-08 04:40:56
259,Rancho Palos Verdes,33.7445,-118.3870,57.00,85,97,1.01,US,2021-03-08 04:39:47
524,Çermik,38.1361,39.4493,39.20,93,75,1.14,TR,2021-03-08 04:40:53
78,Fort Nelson,58.8053,-122.7002,21.20,73,75,1.14,CA,2021-03-08 04:25:16
21,Klaksvík,62.2266,-6.5890,41.00,100,75,1.14,FO,2021-03-08 04:38:47
396,Korem,12.5058,39.5228,53.83,41,0,1.19,ET,2021-03-08 04:40:20
492,Abhā,18.2164,42.5053,53.60,57,0,1.21,SA,2021-03-08 04:40:46
190,Panguna,-6.3164,155.4848,75.96,85,100,1.32,PG,2021-03-08 04:39:31
495,Kieta,-6.2167,155.6333,82.63,72,100,1.34,PG,2021-03-08 04:40:47
446,Kurchum,48.5722,83.6542,26.17,92,100,1.34,KZ,2021-03-08 04:40:34

### Back to Vacation Planning!

We're going kite gliding
- Max temeperature 60-80
- Wind speed... gentle to fresh breeze: 8-24 mph
- Cloudiness 0-50
- Humidity 0-40

In [504]:
city_candidates = weather_data.loc[(weather_data['Max Temp'] > 60) & (weather_data['Max Temp'] < 80) & 
                                  (weather_data['Wind Speed'] > 8) & (weather_data['Wind Speed'] < 24) &
                                  (weather_data['Cloudiness'] > 0) & (weather_data['Cloudiness'] < 50) &
                                  (weather_data['Humidity'] > 0) & (weather_data['Humidity'] < 60)].reset_index()
city_candidates

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,243,Biltine,14.5333,20.9167,68.79,17,6,12.03,TD,2021-03-08 04:39:43
1,375,Ngama,11.7833,17.1667,70.29,16,8,8.14,TD,2021-03-08 04:40:15
2,386,Mandera,3.9366,41.8670,77.16,58,1,9.55,KE,2021-03-08 04:40:18
3,414,Bol,13.4586,14.7147,74.25,32,3,15.30,TD,2021-03-08 04:40:25
4,435,Gandiaye,14.2333,-16.2667,69.98,38,1,10.87,SN,2021-03-08 04:40:31
5,482,Atoyac,20.0167,-103.5333,71.60,30,1,9.22,MX,2021-03-08 04:40:42
6,483,Kaura Namoda,12.5898,6.5779,73.45,16,5,10.33,NG,2021-03-08 04:40:43
7,520,Nishihara,26.1842,127.7558,75.20,56,40,12.66,JP,2021-03-08 04:40:52
8,538,Makakilo City,21.3469,-158.0858,78.80,53,20,10.36,US,2021-03-08 04:40:57

#### Let's check out elevation for each City 
The higher the better! 🤘

In [505]:
lat_lng = []
for i in city_candidates.index:
    lat_lng.append(f"{city_candidates['Lat'][i]},{city_candidates['Lng'][i]}|")

In [506]:
location = "".join(lat_lng)[:-1]

In [507]:
# Google Elevation API
url = 'https://maps.googleapis.com/maps/api/elevation/json?locations='

In [508]:
response = requests.get(f'{url}{location}&key={g_key}').json()

In [509]:
results = response['results']
results_df = pd.DataFrame(results)
results_df

     elevation                            location  resolution
0   511.642670    {'lat': 14.5333, 'lng': 20.9167}  152.703232
1   326.325592    {'lat': 11.7833, 'lng': 17.1667}  152.703232
2   220.851242      {'lat': 3.9366, 'lng': 41.867}  152.703232
3   294.518372    {'lat': 13.4586, 'lng': 14.7147}  152.703232
4     9.127048   {'lat': 14.2333, 'lng': -16.2667}    9.543952
5  1346.567749  {'lat': 20.0167, 'lng': -103.5333}  152.703232
6   374.316284     {'lat': 12.5898, 'lng': 6.5779}  152.703232
7    59.621998   {'lat': 26.1842, 'lng': 127.7558}    9.543952
8   130.671432  {'lat': 21.3469, 'lng': -158.0858}   76.351616

In [510]:
vacay_city = city_candidates.join(results_df).drop(columns=['location', 'index'], axis=1).sort_values(by='elevation',
                                                                                                      ascending=False)
vacay_city

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,elevation,resolution
5,Atoyac,20.0167,-103.5333,71.60,30,1,9.22,MX,2021-03-08 04:40:42,1346.567749,152.703232
0,Biltine,14.5333,20.9167,68.79,17,6,12.03,TD,2021-03-08 04:39:43,511.642670,152.703232
6,Kaura Namoda,12.5898,6.5779,73.45,16,5,10.33,NG,2021-03-08 04:40:43,374.316284,152.703232
1,Ngama,11.7833,17.1667,70.29,16,8,8.14,TD,2021-03-08 04:40:15,326.325592,152.703232
3,Bol,13.4586,14.7147,74.25,32,3,15.30,TD,2021-03-08 04:40:25,294.518372,152.703232
2,Mandera,3.9366,41.8670,77.16,58,1,9.55,KE,2021-03-08 04:40:18,220.851242,152.703232
8,Makakilo City,21.3469,-158.0858,78.80,53,20,10.36,US,2021-03-08 04:40:57,130.671432,76.351616
7,Nishihara,26.1842,127.7558,75.20,56,40,12.66,JP,2021-03-08 04:40:52,59.621998,9.543952
4,Gandiaye,14.2333,-16.2667,69.98,38,1,10.87,SN,2021-03-08 04:40:31,9.127048,9.543952

### We're going to Atoyac! 📍

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [511]:
target_type = "lodging"
atoyac_coords = "20.0167,-103.5333"
radius = 5000

In [512]:
params = {
    "location": atoyac_coords,
    "types": target_type,
    "radius": radius,
    "key": g_key
}

In [588]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response = requests.get(base_url, params).json()
hotel_results = response['results']
hotel_results_df = pd.DataFrame(hotel_results)
hotel_results_df

,business_status,geometry,icon,name,opening_hours,photos,place_id,plus_code,rating,reference,scope,types,user_ratings_total,vicinity
0,OPERATIONAL,"{'location': {'lat': 20.0096594, 'lng': -103.5...",https://maps.gstatic.com/mapfiles/place_api/ic...,OYO Hotel Del Portal,{'open_now': True},"[{'height': 2322, 'html_attributions': ['<a hr...",ChIJl_a6j8hiL4QR7A_2oG7LIk4,"{'compound_code': '2F5M+V5 Atoyac, Jalisco, Me...",4.1,ChIJl_a6j8hiL4QR7A_2oG7LIk4,GOOGLE,"[lodging, point_of_interest, establishment]",51.0,"La Piedad de Cavadas - Degollado 18, Independe..."
1,OPERATIONAL,"{'location': {'lat': 20.008413, 'lng': -103.51...",https://maps.gstatic.com/mapfiles/place_api/ic...,Hostal La Casona De Daniel,NaN,"[{'height': 3456, 'html_attributions': ['<a hr...",ChIJ83t5RMhiL4QRUZqD6K9eR3A,"{'compound_code': '2F5J+9H Atoyac, Jalisco, Me...",4.5,ChIJ83t5RMhiL4QRUZqD6K9eR3A,GOOGLE,"[lodging, point_of_interest, establishment]",61.0,"49200, Arcadio Zúñiga y Tejeda 73, Atoyac Cent..."
2,OPERATIONAL,"{'location': {'lat': 20.0092842, 'lng': -103.5...",https://maps.gstatic.com/mapfiles/place_api/ic...,Jorge,NaN,NaN,ChIJgbFfkNNjL4QRahcL6RCRpT0,"{'compound_code': '2F5M+PP Atoyac, Jalisco, Me...",NaN,ChIJgbFfkNNjL4QRahcL6RCRpT0,GOOGLE,"[lodging, point_of_interest, establishment]",NaN,"Rocha 33, Atoyac Centro, Atoyac"
3,OPERATIONAL,"{'location': {'lat': 20.045855, 'lng': -103.56...",https://maps.gstatic.com/mapfiles/place_api/ic...,Rancho Real Del Pitayo,{'open_now': True},"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJJdB8gfmJJYQR8lqyhJabjE8,{'compound_code': '2CWP+85 Techaluta de Monten...,5.0,ChIJJdB8gfmJJYQR8lqyhJabjE8,GOOGLE,"[campground, lodging, park, point_of_interest,...",1.0,"JAL 417, San Pedro y San Pablo, Techaluta de M..."

In [589]:
hotel_results[2]['rating'] = 0
hotel_results[2]['user_ratings_total'] = 0

In [591]:
name = []
lat = []
lng = []
address = []
score = []
total_rating = []
city = []
country=[]
for hotel in hotel_results:
    name.append(hotel['name'])
    lat.append(hotel['geometry']['location']['lat'])
    lng.append(hotel['geometry']['location']['lng'])
    score.append(hotel['rating'])
    address.append(hotel['vicinity'])
    total_rating.append(hotel['user_ratings_total'])
    city.append(hotel['plus_code']['compound_code'].split()[-2])
    country.append(hotel['plus_code']['compound_code'].split()[-1])

In [594]:
hotel_dict = {'Hotel Name': name,
              'Lat':  lat,
              'Lng': lng,
              'Address': address,
              'Rating': score,
              'Rating Count': total_rating,
              'State': city,
              'Country': country}
hotel_df = pd.DataFrame(hotel_dict)
hotel_df

,Hotel Name,Lat,Lng,Address,Rating,Rating Count,State,Country
0,OYO Hotel Del Portal,20.009659,-103.517115,"La Piedad de Cavadas - Degollado 18, Independe...",4.1,51,"Jalisco,",Mexico
1,Hostal La Casona De Daniel,20.008413,-103.518580,"49200, Arcadio Zúñiga y Tejeda 73, Atoyac Cent...",4.5,61,"Jalisco,",Mexico
2,Jorge,20.009284,-103.515727,"Rocha 33, Atoyac Centro, Atoyac",0.0,0,"Jalisco,",Mexico
3,Rancho Real Del Pitayo,20.045855,-103.564530,"JAL 417, San Pedro y San Pablo, Techaluta de M...",5.0,1,"Jalisco,",Mexico

In [595]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>Rating</dt><dd>{Rating}</dd>
<dt>User Rating Count</dt><dd>{Rating Count}</dd>
<dt>Address</dt><dd>{Address}</dd>
<dt>State</dt><dd>{State}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

### Add marker layer ontop of heat map

In [596]:
fig = gmaps.figure(map_type="TERRAIN")
heat_layer = gmaps.heatmap_layer(lat_long, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3, opacity = .50)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))